* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: flex-start;
    height: 12vh;
    padding: 2vw 10.4vw;
    justify-content: space-between;background-color: #111;
    z-index: 10;
    
}

.nav-part2{
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;

}


.nav-part2 h4{
    font-size: 0.73vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2.6vw;
}
.nav-part2 h5{
    margin-bottom: 1vw;
    /* background-color: red; */
    display: none;
    overflow: hidden;
    
}

.nav-part2 h5 span{
    font-size: 1.5vh;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;

    
}


.nav-bottom{
    width: 79%;
    height: 0vh;
    position: absolute;
    /* background-color: red; */
    background-color: #111;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid #fff;
}















nav button{
    background-color: #0CA34E;
    display: flex;
    align-items: center;
    font-size: 0.7vw;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;

}

nav button svg{
    margin-left: 1vw;
    height: 1vw;
}








#page1 {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
    
}

#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: #0CA34E;
    border-radius: 50%;
}

#page1 p{
    text-align: center;
    font-weight: 300;
    margin-top: 3vh;
}

#page1-something{
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1-something h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 1px solid #636262;
    border-radius: 50px;
}

#page1-something h4:nth-last-child(2){
    border: none;
    padding: 1px;
    margin-top: 1px;
}


#movingDiv{
    
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    width: 44%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    
}

#movingDiv .move{
    display: inline-block;
    animation-name: mobe;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#movingDiv .move img{
    height: 1vw;
    margin: 0 1vw;
}

@keyframes mobe {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

#blur-left{
    height: 100%;
    width: 20%;
    background-color: red;
    background: linear-gradient(to left, transparent, #111);
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;

}
#blur-right{
    height: 100%;
    width: 20%;
    background: linear-gradient(to left, #111, transparent);
    position: absolute;
    top: 0;
    right: 0;

}




#page2 {
    height: 100vh;
    width: 100%;
    background-color: black;
}
